/*
    File:        site.css

    Author:      Lauren Keene

    Date:        March 21, 2016

    Description: This is the css style file used for the site located at 
                 dev.mcs.sdsmt.edu/~7111617 and implements the styles for many buttons
                 and divisions of each html file used to develop the website.
*/

/* set the margin and padding for all objects to 0 */
* { margin: 0; padding: 0;}

/* horizontal rule formatting */
hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #daa671;
    margin: 1em 0;
    padding: 0; 
}

/* a div to fill the block with an orange color, used as a divider for sections */
div.orangebar
{
    background-color: #daa671;
    display: block;
    height: 30px;
    width: 100%;
}

/* a div to fill the block with a blue color with set heights, used as 
   divider within pages */
div.bluebar
{
    background-color: #33BBC4;
    display: block;
    height: 62px;
    width: 100%;
}

/* a div for the top block, used on all pages with a set background image */
div.intro
{
    background-image: url( "AbsColorDark.png" );
    background-size: 100% 130%;
    color: white;
    border: 0;
    padding: 75px;
}

/* a div stuctured to hold images and text side by side */)
div.picturetxt
{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

/* a div specifying a maximum width with a set padding */
div.text
{
    width: 700px;

    border = 0;
    padding: 30px;
}

/* a div used for the page header, set with a given background color, width, and height */
div.pageheader
{
    position: absolute;
    top: 265px;

    display: inline-block;
    padding: 40px;
    width: 200px;
    background-color: #33BBC4;
    margin-left: 30px;

    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* setting the percentage page width for the main text on a given form */
div.mainform
{
    margin: 0 auto;
    width: 80%;
}

/* a universal style that sets the color and font of the text to be used in all elements
   of the site */
.century 
{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #808080 ;
}

/* link style for links along the top of the site page */
a.btnformat
{
    display: inline-block;
    text-decoration: none; 
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    color: white;
    padding: 20px;
}

/* link style for links along the top of the site page when the user hovers over the element */
a.btnformat:hover
{
    background-color: #2a9aa2;
    text-decoration: none;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

/* link style for links along the seperator in the main page */
a.btnmainpage
{
    text-align: center;
    background-color: #2a9aa2;
    display: inline;

    text-decoration: none;
    color: white;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: -28px;
    margin-right: 0px auto;
    margin-left: 0px auto;
    padding: 20px;

    height: 80px;
    width: 180px;
}

/* link style for links positioned on the bottom of the page */
a.footerformat
{
    display: inline-block;
    text-decoration: none; 
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    color: #808080;
    padding: 20px;
}

/* link style for links positioned on the bottom of the page when a user hovers over them */
a.footerformat:hover
{
    color: #a6a6a6;
}

/* link style for links along the seperator in the main page when the user hovers above
   the element */
a.btnmainpage:hover
{
    border: 5px solid #9ae0e5;
    padding: 15px;
}
